################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EcoWW2Pack/bin/
/EcoWW2Pack/obj/
/Eco-WW2-Pack.sln.DotSettings.user
/.idea/

# JetBrains/ReSharper solution settings
*.DotSettings
*.DotSettings.user